/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public_html/files/licencias/5e5ea27324346.jpg
public_html/img/avatars/5ee249b799f81.png
public_html/js/app.js
database/seeds
*.jpg
*.png
*.jfif
*.pdf
*.xlsx
*.PNG
public_html/img/avatars/6248998649997.gif
